# Dependencies
/node_modules

# Build artifacts
/dist
/build
/.vscode

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables (if you ever add any)
.env
.env.local